:root {
    --header-footer: #2A98A2;
    --header-txt: #FFFFFF;
    --heading1-font: 'Merriweather Sans', sans-serif;
}

@import url('https://css.gg/home-alt.css');

html {
    height: 100vh;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--header-txt);
    min-height: 100%;
}

header {
    background-color: var(--header-footer);
    text-align: center;
    padding: 20px;
}

h1 {
    font-family: var(--heading1-font);
    font-size: 3rem;
    color: var(--header-txt);
    margin: 0;
    padding: 0;
}

main {
    min-height: calc(100vh - 97.6px - 55px);
}

footer {
    position: sticky;
    bottom: 0;
    height: 55px;
    width: 100%;
    background-color: var(--header-footer);
}

nav {
    display: flex;
    justify-content: space-evenly;
}

.icons {
    color: var(--header-txt);
    font-size: 2.3rem;
    cursor: pointer;
}

/* Can move all the above stylings inside the media query
@media screen and (max-width: 811px) {
} */