:root {
    --header-footer: #2A98A2;
    --header-txt: #FFFFFF;
    --main-font: 'Merriweather Sans', sans-serif;
}

html {
    height: 100vh;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--header-txt);
    min-height: 100%;
}

header {
    background-color: var(--header-footer);
    text-align: center;
    padding: 20px;
}

h1 {
    font-family: var(--main-font);
    font-size: 3rem;
    color: var(--header-txt);
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 97.6px - 55px);
}

footer {
    position: sticky;
    bottom: 0;
    height: 55px;
    width: 100%;
    background-color: var(--header-footer);
}

nav {
    display: flex;
    justify-content: space-evenly;
}

.icons {
    color: var(--header-txt);
    font-size: 2.3rem;
    cursor: pointer;
}    


@media screen and (min-width: 600px) {
    html {
        width: 600px;
        margin: auto;
        overflow: hidden;
    }
}