:root {
    --header-footer: #2A98A2;
    --content-txt: #297782;
    --header-txt: #FFFFFF;
    --main-font: 'Merriweather Sans', sans-serif;
}

main {
    margin-top: 100px;
}

.filter-tabs {
    display: flex;
    flex-direction: row;
    color: var(--content-txt);
    font-size: 1.2rem;
    font-family: var(--main-font);
}

.filter-btn {
    border: none;
    background-color: var(--header-txt);
    color: var(--content-txt);
}

.total-expense {
    font-size: 1.7rem;
}

.no-expenses {
    font-size: 1.2rem;
}

.total-expense,
.no-expenses {
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: var(--main-font);
    color: var(--content-txt);
}

table {
    font-family: var(--main-font);
    align-self: center;
    border-collapse: separate;
    border-spacing: 0 10px;
    text-align: center;
}

th {
    color: var(--header-txt);
    background-color: var(--header-footer);
}

th,
td {
    border: solid black 1px;
}

.pie-chart-display {
    width: max-content;
    height: max-content;
    align-self: center;
}

td {
    background-color: #cac8c6;
}

.expense-amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-icons {
    display: flex;
    flex-direction: column;
    line-height: 0;
}

span,
.btn {
    width: max-content;
    padding: 0;
}

.fa-pencil-square,
.fa-trash {
    font-size: 1.5rem;
    color: var(--content-txt);
    cursor: pointer;
}

.message {
    position: absolute;
    text-align: center;
    top: 0;
    width: 96.5%;
    z-index: 2;
}

@media screen and (max-width: 600px) {
    html {
        width: 100vw;
    }
    main {
        width: max-content;
        margin-right: auto;
        margin-left: auto;
        overflow: scroll;
        margin-bottom: 60px;
    }

    .expense-cards {
        display: block;
        overflow: scroll;
        width: max-content;
        font-size: 0.8rem;
    }
    
    .icons {
        font-size: 1.9rem;
    }

    .filter-tabs {
        font-size: 0.8rem;
    }

    .total-expense {
        font-size: 1rem;
    }

    .fa-pencil-square,
    .fa-trash {
    font-size: 1.1rem;
    }
}