:root {
    --header-footer: #2A98A2;
    --content-txt: #297782;
    --header-txt: #FFFFFF;
    --main-font: 'Merriweather Sans', sans-serif;
}

.total-expense {
    margin: 10px;
    font-family: var(--main-font);
    font-size: 1.7rem;
    color: var(--content-txt);
}

table {
    font-family: var(--main-font);
    align-self: center;
    border-collapse: separate;
    border-spacing: 0 10px;
    text-align: center;
}

th {
    color: var(--header-txt);
    background-color: var(--header-footer);
}

th,
td {
    border: solid black 1px;
}

.pie-chart-display {
    width: max-content;
    height: max-content;
    align-self: center;
}

td {
    background-color: #cac8c6;
}

.expense-amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-icons {
    display: flex;
    flex-direction: column;
    line-height: 0;
}

.fa-pencil-square,
.fa-trash {
    font-size: 1.5rem;
    color: var(--content-txt);
    cursor: pointer;
}