:root {
    --header-footer: #2A98A2;
    --header-txt: #FFFFFF;
    --main-font: 'Merriweather Sans', sans-serif;
}

.expense-cards {
    min-width: 10%;
    margin: auto;
}

table {
    font-family: var(--main-font);
    align-self: center;
    border-collapse: separate;
    border-spacing: 0 10px;
    text-align: center;
}

td {
    background-color: #cac8c6;
    border: solid 1px;
    padding: 5px;
}