input,
select {
    border: solid black 0.02rem;
    border-radius: 0.3rem;
    font-size: 1.3rem;
    box-sizing: border-box;
    width: 17rem;
    height: 2.6rem;
    margin: 1rem;
    text-align: center;
}

a {
    text-decoration: none;
}