body {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.container {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #2A98A2;
    color: white;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.form-signin,
.form-signin {
    margin-bottom: 10rem;
}

.form-signin-heading {
    font-weight: bold;
    font-size: 8rem;
    margin-bottom: 7rem;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.submit-btn {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

input {
    text-align: center;
}

input:focus {
    box-shadow: 0 0 .6rem white !important;
    -moz-box-shadow: 0 0 .6rem white !important;
    -webkit-box-shadow: 0 0 .6rem white !important;
}

a {
    color: white;
}

a:hover {
    color: white;
}

.link {
    margin-bottom: 1rem;
}

.message {
    position: absolute;
    text-align: center;
    top: 0;
    width: 96.5%;
    z-index: 2;
}