{% extends 'app.html' %}


{% block title %} Edit Expense {% endblock %}
{% block heading1 %} Edit Expense {% endblock %}
{% block css_linking %}
<link href="/static/input_styles.css" rel="stylesheet"> {% endblock %}
{% block main_content %}
<div class="message">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
      {{ message }}
    </div>
    {% endfor %}
</div>

<section id="form">

    <form class="myForm" method="post">
        <div class="expense title">
            <input type="text" name="name" placeholder="Title of Expense" value="{{ expense[2] }}" required>
        </div>
        <br>
        <div><select name="category" id="type">
                <option value="{{ expense[4] }}">{{ expense[4] }}</option>
                <option value="Food">Food</option>
                <option value="Apparel">Apparel</option>
                <option value="Entertainment">Entertainment</option>
                <option value="Lifestyle">Lifestyle</option>
                <option value="Miscellaneous">Miscellaneious</option>
                <option value="Groceries">Groceries</option>
                <option value="Services">Services</option>
                <option value="Technology">Technology</option>
                <option value="School">School</option>
            </select></div>

        <br>

        <div class="expense cost">
            <input type="number" name="amount" placeholder="Cost" value="{{ expense[5] }}" required step="any" min="0">
        </div>
        <br>
        <div class="expense date">
            <input type="date" name="date" id="date" placeholder="dd-mm-yyyy" value="{{ expense[3] }}" min="1997-01-01"
                max="2030-12-31" required>
        </div>
        <br>
        <div>
            <button type="submit" class="btn btn-lg btn-success btn-block submit-btn" id="frm-btn">Save</button>
            <button type="button" class="btn btn-lg btn-primary btn-block submit-btn" id="frm-btn"><a href="{{ url_for('homepage') }}">Cancel</a></button>
        </div>
    </form>
</section>
{% endblock %}