{% extends 'app.html' %}

{% block css_linking %}
<link href="/static/home.css" rel="stylesheet"> {% endblock %}
{% block title %} Home {% endblock %}
{% block sorttable %}
<script src="../sorttable.js"></script> {% endblock %}
{% block homepage_pie_chart %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            {% for key, value in data.items() %}
    {% if value is string %}
    ['{{ key }}', '{{ value }}'],
        {% else %}
    ['{{ key }}', {{ value }}],
        {% endif %}
    {% endfor %}
        ]);


    let options = {
        pieHole: 0.5
    };

    let chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
    chart.draw(data, options);
    }
</script>
{% endblock %}

{% block heading1 %} Home {% endblock %}

{% block main_content %}
<section class="filter-tabs" style="font-size: 5.5vw;">
    <!-- Display filter tabs -->
    {% if user_expenses|length > 0 %}
    <form action="/home/today" method="post">
        <input type="hidden" name="filter_today" value="Filter_Today">
        <button type="submit" class="filter-btn">Today</button>|
    </form>
    <form action="/home/week" method="post">
        <input type="hidden" name="filter_week" value="Filter_Week">
        <button type="submit" class="filter-btn">Week</button>|
    </form>
    <form action="/home/month" method="post">
        <input type="hidden" name="filter_month" value="Filter_Month">
        <button type="submit" class="filter-btn">Month</button>|
    </form>
    <form action="/home/year" method="post">
        <input type="hidden" name="filter_year" value="Filter_Year">
        <button type="submit" class="filter-btn">Year</button>|
    </form>
    <form action="/home" method="post">
        <input type="hidden" name="filter_all" value="Filter_All">
        <button type="submit" class="filter-btn">All</button>
    </form>
    {% endif %}
</section>

<section class="total-expense" style="font-size: 5.5vw;">
    <!-- Display for total user expense goes here -->
    <p>Total: ${{ total_expense }}</p>
</section>

<section class="no-expenses">
    {% if user_expenses|length < 1 %} <p>You currently have no expenses</p>
        {% endif %}
</section>

<section class="pie-chart-display">
    <!-- Display for pie chart goes here -->
    <div style="width: 100%; overflow: hidden;">
        <div id="piechart_3d" style="width: 100vw; height: 17rem; overflow: hidden;"></div>
    </div>
</section>

<section class="expense-cards">
    <!-- List of current existing user expenses -->
    <table class="sortable" style="width: 88vw">
        {% if user_expenses|length > 0 %}
        <thead>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Category</th>
                <th>Amount</th>
            </tr>
        </thead>
        {% endif %}
        <tbody>
            {% for user_expense in user_expenses %}
            <tr>
                <td>
                    {{ user_expense.date }}
                </td>
                <td>
                    {{ user_expense.name }}
                </td>
                <td>
                    {{ user_expense.category }}
                </td>
                <td class="expense-amount">
                    ${{ user_expense.amount }}
                    <div class="home-icons">
                        <span id="{{ user_expense.eid }}">
                            <a href="{{ url_for('get_expense', eid=user_expense.eid) }}">
                                <i class="fa fa-pencil-square" aria-hidden="true"></i>
                            </a>
                        </span>
                        <form action="/home" method="POST">
                            <input type=hidden value="{{ user_expense.eid }}" name=expense_to_delete />
                            <button type="submit" class="btn"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot></tfoot>
    </table>
</section>
{% endblock %}