{% extends 'app.html' %}

{% block title %} Profile {% endblock %}
{% block heading1 %} Profile {% endblock %}

{% block main_content %}

    <p>{{ username }}</p>
    <p>{{ name }}</p>
    <p>{{ email }}</p>

    <br>
    <div>
      <a href="{{ url_for('profile_edit') }}"><button type="button" id="frm-btn">Edit Profile</button></a>
    </div>
    <br>
    <div>
      <a href="{{ url_for('reset_password') }}"><button type="button" id="frm-btn">Reset Password</button></a>
    </div>
    <br>
    <div>
      <form action="/profile" method="POST">
        <input type=hidden value="" name=user_to_delete />
        <button type="submit" id="frm-btn">Delete Account</button>
      </form>
      </div>
  </form>

{% endblock %}