{% extends 'app.html' %}

{% block title %} Profile {% endblock %}
{% block heading1 %} Profile {% endblock %}

{% block main_content %}
    <h5>Username</h5>
    <p>{{ username }}</p>
    <br>

    <h5>Name</h5>
    <p>{{ name }}</p>
    <br>

    <h5>Email</h5>
    <p>{{ email }}</p>

    <br>

    <div>
      <form action="/logout" method="POST">
        <input type=hidden value="" name=user_to_delete />
        <button type="submit" class="btn btn-sm btn-primary btn-block submit-btn" id="frm-btn">Logout</button>
      </form>
    </div>
    <br>
    <div>
      <a href="{{ url_for('profile_edit') }}">
        <button type="button" class="btn btn-sm btn-primary btn-block submit-btn" id="frm-btn">Edit Profile</button>
      </a>
    </div>
    <br>
    <div>
      <a href="{{ url_for('reset_password') }}">
        <button type="button" class="btn btn-sm btn-primary btn-block submit-btn" id="frm-btn">Reset Password</button>
      </a>
    </div>
    <br>
    <div>
      <form action="/profile" method="POST">
        <input type=hidden value="" name=user_to_delete />
        <button type="submit" class="btn btn-sm btn-danger btn-block submit-btn" id="frm-btn">Delete Account</button>
      </form>
    </div>
  </form>

{% endblock %}