{% extends 'app.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Search {% endblock %}
{% block heading1 %} Search {% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='search.css')}}">
{% endblock %}

{% block main_content %}

<form class="search-bar" action="{{ url_for('search') }}" method="POST">
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.searched) }}
    <button type="submit" class="btn btn-outline-primary">Search</button>
</form>

<h2>You searched for {{ searched }}</h2>

{% endblock %}